/* 适配:chrome的字号限制12px问题未解决;360浏览器极速模式未解决;
        js强制解决了一下,仍不能完全兼容,但一般笔记本屏幕可以.
 */
html,body{
    width:100%;
    height: 100%;
    /* min-width: 1852px;
    min-height: 1200px; */
    -webkit-text-size-adjust:none;
    margin:0 auto;
    padding:0;
    background-color: black;
    /* font-family: "MyNewFont"; */
    font-family:"lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}
.content{
    position: absolute;
    width:21.6rem;
    height: 14rem;
    display: none;
}
.fl{
    float: left;
    display: inline-block;
}
.cb{
    clear: both;
}
.font-2{
    font-size: 0.2rem;
    color: #00deff;
    width: 0.2rem;
    line-height: 0.22rem;
}
.font-3{
    font-size: 0.2rem;
    color: #ffffff;
    font-weight: bold;
}
.font-4{
    font-size: 0.14rem;
    color: #03004c;
    font-weight: bold;/* 
    -webkit-transform: scale(0.8);
    transform: scale(0.8); */
}
.font-5{
    font-size: 0.14rem;
    color: #ffffff;
    font-weight: bold;
}