<!-->
1.rename 时 input 长度的限制
2.元素位置的拖动
</!-->
<!doctype html>
<html>
    <head>
    <meta charset="utf-8">
    <title>vue-tree</title>
    <link href="tree.css" rel="stylesheet" type="text/css"/>
    </head>
    <body> 
        <!-- item template -->
      <script type="text/x-template" id="item-template">
        <li v-show="isDelete">
          <div 
            :class="{bold: isFolder}"
            @mouseover="overShow" 
            @mouseout="outHide">
            <div style="display:inline;" 
            @click="toggle"
            @dblclick="changeType">
              <span v-show="!isInput">{{model.name}}</span>
              <input type="text" v-show="isInput" v-focus="isInput" @keyup.enter="done" @blur="done" v-model="model.name"/>
              <span v-if="isFolder">[{{open ? '-' : '+'}}]</span>
            </div>
            <span v-show="hover" @click="deleteModel" class="red">x</span>
            <span v-show="hover" @click="rename" class="rename">r</span>
          </div>
          <ul v-show="open" v-if="isFolder">
            <item
              class="item"
              v-for="model in model.children"
              :model="model">
            </item>
            <li class="add" @click="addChild">+</li>
          </ul>
        </li>
      </script>

      <p>(You can double click on an item to turn it into a folder.)</p>

      <!-- the demo root element -->
      <ul id="demo">
        <item
          class="item"
          :model="treeData">
        </item>
      </ul>
    </body>
    <script type="text/javascript" src="../vue.js"></script>
    <script type="text/javascript" src="tree.js"></script>
</html>
